
<!-- Cards -->

<div class="album py-5 bg-dark">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/random/360x300/?barbecue">
          <div class="card-body">
            <p class="card-text">
              <a class="nav_link" routerLink="/comidas">Comidas</a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/random/360x300/?drink">
          <div class="card-body">
            <p class="card-text">
              <a class="nav_link" routerLink="/bebidas">Bebidas</a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>